:ruby
  i = image_tag record.to_icon, :size=>'32x32'
  l = record.to_label
  t = link_to "#{i} #{l}", :action=>'show', :id=>record.id
= t

//= link_to :controller=>:people, :action=>'show', :id=>record.id do
//  = image_tag record.to_icon, :size=>'32x32'
//  = record.to_label