// http://haml.hamptoncatlin.com/docs/

%h1 Welcome to your application
You are have at your disposal:
%ul
  %li cs_active_scaffold generator
  %li ActiveScaffold
  %li HAML
  %li SASS

script/generate cs_active_scaffold YourModel property:type ...