// http://haml.hamptoncatlin.com/docs/

%h1 Welcome to your application
You are have at your disposal:
%ul
  %li cs_active_scaffold generator
  %li ActiveScaffold
  %li HAML
  %li SASS: Application Frame and Boxed Menus

%h2 Tips
%dl
  %dt
    %i Generate your models quickly:
  %dd
    %code script/generate cs_active_scaffold YourModel property:type ...
  %dt
    %i Then migrate to database:
  %dd
    %code rake db:migrate
  %dt
    %i Start your server:
  %dd
    %code script/server